@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Limelight&display=swap");

form {
  border: 5px solid #fff;
  width: 60%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

form input {
  padding: 15px;
  margin: 0 5px;
  outline: none;
  width: 100%;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

form button {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #39424e;
  border: none;
  width: 100%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: "Josefin Sans", sans-serif;
}

form button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

form button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (min-width: 800px) {
  form button {
    width: 20%;
  }

  form input {
    width: 70%;
  }
}
